@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
}

;

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #6EE7B7;
  --color-secondary: #e1edfc;
  --color-text: #FFFFFF;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.stack-sans {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}