@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
}

;

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #6EE7B7;
  --color-secondary: #A3D0F7;
  /* --color-secondary: #B2D7F7; */
  /* --color-secondary: #e1edfc; */
  --color-text: #FFFFFF;
}

@plugin "daisyui/theme" {
  name: "swap";
  --color-primary: #A3D0F7;   
  --color-secondary: #6EE7B7;
  --color-text: #FFFFFF;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.stack-sans {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}