@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
 };

 .roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.stack-sans {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

 .common_p {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
 }

 .com_text{
  font-family: "Montserrat", sans-serif;
 }

 .com_btn{
      background-color: linear-gradient(to right, #6a11cb, #2575fc);
  }